/* header-1 styling */
header {
  width: 100%;
}

.nav-1 {
  z-index: -1;
  position: fixed;
  background-color: rgb(247, 34, 16);
}

.small-logo {
  height: 25px;
}

.user-action {
  font-size: 0.8em;
}

.menu-icon {
  width: 25px;
  height: 30px;
  margin-left: 2px;
}

/* Media queries */
@media (min-width: 480px) {
  .sub-img::after {
    background: url(../imgs/arrow.svg) no-repeat;
    background-size: 13px 13px;
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: 4px;
    position: relative;
    top: 5px;
    width: 16px;
  }
}

/* header-2 styling  */

.header-2-div {
  background-color: rgb(244, 245, 246);
}

.header-2 {
  background-color: rgb(247, 34, 16);
  max-width: 1320px;
  margin: 0 auto;
}

.nav-2-ul {
  font-size: 21px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

.nav-li-long {
  min-width: 130px;
}

.search-icon {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  background-size: 25px;
}

.nav-2::before {
  position: absolute;
  right: 0;
  content: "";
  width: 80px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  top: 0;
}

@media (min-width: 992px) {
  .small-logo {
    width: 396px;
    height: 80px;
    margin: 7px auto 0;
  }
}
